body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8d5a8;
}

@font-face {
  font-family: "BelweBoldBT";
  src: local("BelweBoldBT"), url(./fonts/BelweBoldBT.ttf) format("opentype");
}

@font-face {
  font-family: "BelweLightBT";
  src: local("BelweLightBT"), url(./fonts/BelweLightBT.ttf) format("opentype");
}

@font-face {
  font-family: "BelweMediumBT";
  src: local("BelweMediumBT"), url(./fonts/BelweMediumBT.ttf) format("opentype");
}

@font-face {
  font-family: "BelweCondensedBT";
  src: local("BelweCondensedBT"),
    url(./fonts/BelweCondensedBT.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
}
